In [99]:
import pymysql
import sys
import numpy as np
import pandas as pd
import json
import os

conn =pymysql.connect(
    host="fermi-master.c4kp2nxu0eer.ap-northeast-2.rds.amazonaws.com",
    user="admin",
    password="fermi1234",
    db="energy_data",
    charset='utf8'
)
curs=conn.cursor()
sql="""
select smp_price.date, smp_price.total_price as smp_price, oil_price.wti,elec_supply.supply,price_index.korea_producer, price_index.us_producer from smp_price
    inner join oil_price
		on smp_price.date=oil_price.date
	inner join elec_supply
		on smp_price.date=elec_supply.date
	inner join price_index
		on smp_price.date=price_index.date
        """
curs.execute(sql)
array=np.array(curs.fetchall())
data=pd.DataFrame(data=array[:,1:6],index=array[:,0],columns=["smp_price","oil_price","elec_supply","korea_producer","us_producer"])
data.smp_price=data.smp_price*data.korea_producer
data.oil_price=data.oil_price*data.us_producer
data=data.astype(float)
data

            smp_price  oil_price  elec_supply  korea_producer  us_producer
2003-01-01  72.146250  42.863667         16.5         1.30087      1.30087
2003-02-01  71.547850  46.610172         16.6         1.30087      1.30087
2003-03-01  73.642251  43.592154         21.1         1.30087      1.30087
2003-04-01  72.705624  36.645508         22.5         1.30087      1.30087
2003-05-01  74.201625  36.567456         16.3         1.30087      1.30087
2003-06-01  65.472787  39.884674         22.8         1.30087      1.30087
2003-07-01  52.047809  40.014761         29.7         1.30087      1.30087
2003-08-01  49.302973  41.068466         17.1         1.30087      1.30087
2003-09-01  55.573166  36.827630         17.3         1.30087      1.30087
2003-10-01  61.687255  39.468396         24.9         1.30087      1.30087
2003-11-01  66.162248  40.470066         19.4         1.30087      1.30087
2003-12-01  70.010855  40.305479         18.0         1.25445      1.25445
2004-01-01  68.756405  43.040180         14.7         1.25445      1.25445
2004-02-01  75.693513  43.516870         11.6         1.25445      1.25445
2004-03-01  75.706058  46.088493         10.0         1.25445      1.25445
2004-04-01  71.829807  46.101038         17.0         1.25445      1.25445
2004-05-01  67.915923  50.529246         24.1         1.25445      1.25445
2004-06-01  65.833536  47.706734         11.7         1.25445      1.25445
2004-07-01  62.371254  51.156471         12.2         1.25445      1.25445
2004-08-01  58.557726  56.324805         14.1         1.25445      1.25445
2004-09-01  62.433977  57.629433         18.6         1.25445      1.25445
2004-10-01  73.686393  66.837096         16.5         1.25445      1.25445
2004-11-01  76.421094  60.803192         25.0         1.25445      1.25445
2004-12-01  79.783020  54.129517         23.1         1.25445      1.25445
2005-01-01  80.309078  55.960685         10.7         1.19472      1.19472
2005-02-01  75.088152  57.525768         12.0         1.19472      1.19472
2005-03-01  73.738118  64.741877         17.1         1.19472      1.19472
2005-04-01  62.603328  63.296266         25.0         1.19472      1.19472
2005-05-01  56.163787  59.532898         27.1         1.19472      1.19472
2005-06-01  63.140952  67.322472          9.1         1.19472      1.19472
...               ...        ...          ...             ...          ...
2015-09-01  92.505735  46.242700         16.6         1.01677      1.01677
2015-10-01  99.989162  46.995109         23.4         1.01677      1.01677
2015-11-01  96.521976  43.151719         17.9         1.01677      1.01677
2015-12-01  97.060864  37.813676         15.4         1.01677      1.01677
2016-01-01  95.441932  33.310570         14.2         1.05147      1.05147
2016-02-01  92.129801  31.880570         17.2         1.05147      1.05147
2016-03-01  91.803846  39.482698         12.4         1.05147      1.05147
2016-04-01  79.259809  42.847402         30.8         1.05147      1.05147
2016-05-01  72.320107  49.114164         17.8         1.05147      1.05147
2016-06-01  68.671506  51.269677         11.2         1.05147      1.05147
2016-07-01  70.511578  46.948135          9.6         1.05147      1.05147
2016-08-01  75.421943  47.021738          8.5         1.05147      1.05147
2016-09-01  75.232678  47.505415         13.0         1.05147      1.05147
2016-10-01  77.262016  52.342177         15.1         1.05147      1.05147
2016-11-01  78.902309  48.010120         13.4         1.05147      1.05147
2016-12-01  91.404287  54.644896         16.3         1.05147      1.05147
2017-01-01  87.345720  53.130000         14.1         1.01200      1.01200
2017-02-01  92.162840  54.111640         18.0         1.01200      1.01200
2017-03-01  93.164720  49.921960         22.3         1.01200      1.01200
2017-04-01  76.254200  51.672720         27.2         1.01200      1.01200
2017-05-01  80.089680  49.061760         18.0         1.01200      1.01200
2017-06-01  83.702520  45.722160         16.5         1.01200      1.01200
2017-07-01  77.711480  47.189560         12.3         1.01200      1.01200
2017-08-01  77.316800  48.616480         12.6         1.01200      1.01200
2017-09-01  74.088520  50.417840         26.7         1.01200      1.01200
2017-10-01  73.714080  52.198960         26.6         1.01200      1.01200
2017-11-01  82.457760  57.319680         19.6         1.01200      1.01200
2017-12-01  91.859240  58.574560         12.9         1.01200      1.01200
2018-01-01  92.230000  63.700000         13.6         1.00000      1.00000
2018-02-01  90.750000  62.230000         14.6         1.00000      1.00000

[182 rows x 5 columns]

In [100]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
data=data.astype(float)
model=smf.ols(formula = 'smp_price~oil_price+elec_supply', data = data).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              smp_price   R-squared:                       0.422
Model:                            OLS   Adj. R-squared:                  0.416
Method:                 Least Squares   F-statistic:                     65.37
Date:                Mon, 09 Apr 2018   Prob (F-statistic):           4.85e-22
Time:                        12:02:54   Log-Likelihood:                -839.46
No. Observations:                 182   AIC:                             1685.
Df Residuals:                     179   BIC:                             1695.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept      94.4318      9.689      9.747      0.000        75.313   113.550
oil_price       0.5530      0.084      6.617      0.000         0.388     0.718
elec_supply    -1.9895      0.362     -5.503      0.000        -2.703    -1.276
==============================================================================
Omnibus:                       39.388   Durbin-Watson:                   0.324
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               82.107
Skew:                           0.994   Prob(JB):                     1.48e-18
Kurtosis:                       5.621   Cond. No.                         418.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [153]:
import datetime
time=pd.period_range(start=datetime.date.today().strftime("%Y-%m-%d"),periods=12*15,freq='M')
startDate=str(time[0])
endDate=str(time[len(time)-1])
print(startDate+'-01',endDate+'-01')

2018-04-01 2033-03-01

In [162]:
import datetime
datetime.date.today().strftime("%Y-%m")
def make_scenario(year,scenario):
    time=pd.period_range(start=datetime.date.today().strftime("%Y-%m-%d"),periods=12*15,freq='M')
    startDate=str(time[0])
    endDate=str(time[len(time)-1])
    sql ="SELECT * FROM `oil_forecast` where date>=%s && date<=%s"
    curs=conn.cursor()
    curs.execute(sql,(startDate+'-01',endDate+'-01'))
    result=pd.DataFrame(data=np.array(curs.fetchall()),index=time)
    return result

pre_data=make_scenario(15)

In [168]:
pre_data.iloc[:,1:4]

               1        2        3
2018-04    62.23    62.23    62.23
2018-05  63.0286  63.1714  62.7429
2018-06  63.8271  64.1129  63.2557
2018-07  64.6257  65.0543  63.7686
2018-08  65.4243  65.9957  64.2814
2018-09  66.2229  66.9371  64.7943
2018-10  67.0214  67.8786  65.3071
2018-11    67.82    68.82    65.82
2018-12  68.6186  69.7614  66.3329
2019-01  69.4171  70.7029  66.8457
2019-02  70.2157  71.6443  67.3586
2019-03  71.0143  72.5857  67.8714
2019-04  71.8129  73.5271  68.3843
2019-05  72.6114  74.4686  68.8971
2019-06    73.41    75.41    69.41
2019-07  74.2086  76.3514  69.9229
2019-08  75.0071  77.2929  70.4357
2019-09  75.8057  78.2343  70.9486
2019-10  76.6043  79.1757  71.4614
2019-11  77.4029  80.1171  71.9743
2019-12  78.2014  81.0586  72.4871
2020-01       79       82       73
2020-02  79.2667   82.375     73.1
2020-03  79.5333    82.75     73.2
2020-04     79.8   83.125     73.3
2020-05  80.0667     83.5     73.4
2020-06  80.3333   83.875     73.5
2020-07     80.6    84.25     73.6
2020-08  80.8667   84.625     73.7
2020-09  81.1333       85     73.8
...          ...      ...      ...
2030-10  111.975  128.425     84.1
2030-11  112.083  128.583       84
2030-12  112.192  128.742     83.9
2031-01    112.3    128.9     83.8
2031-02  112.408  129.058     83.7
2031-03  112.517  129.217     83.6
2031-04  112.625  129.375     83.5
2031-05  112.733  129.533     83.4
2031-06  112.842  129.692     83.3
2031-07   112.95   129.85     83.2
2031-08  113.058  130.008     83.1
2031-09  113.167  130.167       83
2031-10  113.275  130.325     82.9
2031-11  113.383  130.483     82.8
2031-12  113.492  130.642     82.7
2032-01    113.6    130.8     82.6
2032-02  113.708  130.958     82.5
2032-03  113.817  131.117     82.4
2032-04  113.925  131.275     82.3
2032-05  114.033  131.433     82.2
2032-06  114.142  131.592     82.1
2032-07   114.25   131.75       82
2032-08  114.358  131.908     81.9
2032-09  114.467  132.067     81.8
2032-10  114.575  132.225     81.7
2032-11  114.683  132.383     81.6
2032-12  114.792  132.542     81.5
2033-01    114.9    132.7     81.4
2033-02  115.008  132.858     81.3
2033-03  115.117  133.017     81.2

[180 rows x 3 columns]

In [103]:
WEO_period=[pd.Period('2020-01'),pd.Period('2030-01'),pd.Period('2040-01')]
period=pd.period_range(start=datetime.date.today().strftime("%Y-%m"),periods=12*25,freq='M')
WEO_data=pd.DataFrame({'WEO_NP':pd.Series([79,111,124],index=WEO_period),
                       'WEO_CP':pd.Series([82,127,146],index=WEO_period),
                       'WEO_450':pd.Series([73,85,73],index=WEO_period)})
WEO_data.interpolate()

#pd.concat(x,WEO_data)
x=pd.DataFrame(index=period)
x
WEO1=pd.concat(objs=[x,WEO_data],axis=1).loc[:,['WEO_NP','WEO_CP','WEO_450']]
WEO1.loc['2018-04']=[62.23,62.23,62.23]
WEO1=WEO1.interpolate()
WEO1

             WEO_NP      WEO_CP    WEO_450
2018-04   62.230000   62.230000  62.230000
2018-05   63.028571   63.171429  62.742857
2018-06   63.827143   64.112857  63.255714
2018-07   64.625714   65.054286  63.768571
2018-08   65.424286   65.995714  64.281429
2018-09   66.222857   66.937143  64.794286
2018-10   67.021429   67.878571  65.307143
2018-11   67.820000   68.820000  65.820000
2018-12   68.618571   69.761429  66.332857
2019-01   69.417143   70.702857  66.845714
2019-02   70.215714   71.644286  67.358571
2019-03   71.014286   72.585714  67.871429
2019-04   71.812857   73.527143  68.384286
2019-05   72.611429   74.468571  68.897143
2019-06   73.410000   75.410000  69.410000
2019-07   74.208571   76.351429  69.922857
2019-08   75.007143   77.292857  70.435714
2019-09   75.805714   78.234286  70.948571
2019-10   76.604286   79.175714  71.461429
2019-11   77.402857   80.117143  71.974286
2019-12   78.201429   81.058571  72.487143
2020-01   79.000000   82.000000  73.000000
2020-02   79.266667   82.375000  73.100000
2020-03   79.533333   82.750000  73.200000
2020-04   79.800000   83.125000  73.300000
2020-05   80.066667   83.500000  73.400000
2020-06   80.333333   83.875000  73.500000
2020-07   80.600000   84.250000  73.600000
2020-08   80.866667   84.625000  73.700000
2020-09   81.133333   85.000000  73.800000
...             ...         ...        ...
2040-10  124.000000  146.000000  73.000000
2040-11  124.000000  146.000000  73.000000
2040-12  124.000000  146.000000  73.000000
2041-01  124.000000  146.000000  73.000000
2041-02  124.000000  146.000000  73.000000
2041-03  124.000000  146.000000  73.000000
2041-04  124.000000  146.000000  73.000000
2041-05  124.000000  146.000000  73.000000
2041-06  124.000000  146.000000  73.000000
2041-07  124.000000  146.000000  73.000000
2041-08  124.000000  146.000000  73.000000
2041-09  124.000000  146.000000  73.000000
2041-10  124.000000  146.000000  73.000000
2041-11  124.000000  146.000000  73.000000
2041-12  124.000000  146.000000  73.000000
2042-01  124.000000  146.000000  73.000000
2042-02  124.000000  146.000000  73.000000
2042-03  124.000000  146.000000  73.000000
2042-04  124.000000  146.000000  73.000000
2042-05  124.000000  146.000000  73.000000
2042-06  124.000000  146.000000  73.000000
2042-07  124.000000  146.000000  73.000000
2042-08  124.000000  146.000000  73.000000
2042-09  124.000000  146.000000  73.000000
2042-10  124.000000  146.000000  73.000000
2042-11  124.000000  146.000000  73.000000
2042-12  124.000000  146.000000  73.000000
2043-01  124.000000  146.000000  73.000000
2043-02  124.000000  146.000000  73.000000
2043-03  124.000000  146.000000  73.000000

[300 rows x 3 columns]

In [72]:
os.chdir("/Users/youngji/github/data")
writer = pd.ExcelWriter('oil_forcast.xlsx')
WEO1.to_excel(writer,'oil_forcast')
writer.save()