In [78]:
import pymysql
import sys
import numpy as np
import pandas as pd
import json
import os
import statsmodels.api as sm
import statsmodels.formula.api as smf
import datetime

conn =pymysql.connect(
    host="fermi-master.c4kp2nxu0eer.ap-northeast-2.rds.amazonaws.com",
    user="admin",
    password="fermi1234",
    db="energy_data",
    charset='utf8'
)
curs=conn.cursor()
sql="""
select smp_price.date, smp_price.total_price as smp_price, oil_price.wti,elec_supply.supply,price_index.korea_producer, price_index.us_producer from smp_price
    inner join oil_price
		on smp_price.date=oil_price.date
	inner join elec_supply
		on smp_price.date=elec_supply.date
	inner join price_index
		on smp_price.date=price_index.date
        """
curs.execute(sql)
array=np.array(curs.fetchall())
data=pd.DataFrame(data=array[:,1:6],index=array[:,0],columns=["smp_price","oil_price","elec_supply","korea_producer","us_producer"])
data.smp_price=data.smp_price*data.korea_producer
data.oil_price=data.oil_price*data.us_producer
data=data.astype(float)

In [81]:
# 회귀분석 모델 만들기 
def find_fields(tables):
    sql="SELECT * FROM information_schema.columns WHERE Table_Name=%s"
    for i in range(1,len(tables)):
        sql +=" OR Table_Name=%s"
    curs=conn.cursor()
    curs.execute(sql,tables)
    fields=[]
    fields_result=curs.fetchall()
    for i in fields_result:
        fields.append(i[3])
    return fields

def fetch_forecast(scenes,):
    fields=find_fields(['elec_forecast']) 
    sql="select * from energy_data.elec_forecast"
    curs=conn.cursor()
    curs.execute(sql)
    result=pd.DataFrame(data=np.array(curs.fetchall()),columns=fields)
    result.index=result.date
    final_result=result.loc[:,scenes]
    return (final_result)

result=fetch_forecast(["WEO_450","supply7"])
result

           WEO_450 supply7
date
2018-04-01   62.23    21.3
2018-05-01   62.74    21.6
2018-06-01   63.26    21.9
2018-07-01   63.77    22.2
2018-08-01   64.28    22.5
2018-09-01   64.79    22.8
2018-10-01   65.31    23.1
2018-11-01   65.82    23.4
2018-12-01   66.33    23.7
2019-01-01   66.85      24
2019-02-01   67.36    24.3
2019-03-01   67.87    24.6
2019-04-01   68.38    24.9
2019-05-01    68.9    24.8
2019-06-01   69.41    24.7
2019-07-01   69.92    24.6
2019-08-01   70.44    24.5
2019-09-01   70.95    24.4
2019-10-01   71.46    24.3
2019-11-01   71.97    24.2
2019-12-01   72.49    24.1
2020-01-01      73      24
2020-02-01    73.1    23.9
2020-03-01    73.2    23.8
2020-04-01    73.3    23.7
2020-05-01    73.4   23.66
2020-06-01    73.5   23.62
2020-07-01    73.6   23.58
2020-08-01    73.7   23.53
2020-09-01    73.8   23.49
...            ...     ...
2040-11-01      73   22.66
2040-12-01      73   22.67
2041-01-01      73   22.68
2041-02-01      73   22.68
2041-03-01      73   22.69
2041-04-01      73    22.7
2041-05-01      73   22.71
2041-06-01      73   22.72
2041-07-01      73   22.73
2041-08-01      73   22.73
2041-09-01      73   22.74
2041-10-01      73   22.75
2041-11-01      73   22.76
2041-12-01      73   22.77
2042-01-01      73   22.78
2042-02-01      73   22.78
2042-03-01      73   22.79
2042-04-01      73    22.8
2042-05-01      73   22.81
2042-06-01      73   22.82
2042-07-01      73   22.83
2042-08-01      73   22.83
2042-09-01      73   22.84
2042-10-01      73   22.85
2042-11-01      73   22.86
2042-12-01      73   22.87
2043-01-01      73   22.88
2043-02-01      73   22.88
2043-03-01      73   22.89
0000-00-00       0    22.9

[301 rows x 2 columns]

           WEO_450 supply7
date
2018-04-01   62.23    21.3
2018-05-01   62.74    21.6
2018-06-01   63.26    21.9
2018-07-01   63.77    22.2
2018-08-01   64.28    22.5
2018-09-01   64.79    22.8
2018-10-01   65.31    23.1
2018-11-01   65.82    23.4
2018-12-01   66.33    23.7
2019-01-01   66.85      24
2019-02-01   67.36    24.3
2019-03-01   67.87    24.6
2019-04-01   68.38    24.9
2019-05-01    68.9    24.8
2019-06-01   69.41    24.7
2019-07-01   69.92    24.6
2019-08-01   70.44    24.5
2019-09-01   70.95    24.4
2019-10-01   71.46    24.3
2019-11-01   71.97    24.2
2019-12-01   72.49    24.1
2020-01-01      73      24
2020-02-01    73.1    23.9
2020-03-01    73.2    23.8
2020-04-01    73.3    23.7
2020-05-01    73.4   23.66
2020-06-01    73.5   23.62
2020-07-01    73.6   23.58
2020-08-01    73.7   23.53
2020-09-01    73.8   23.49
...            ...     ...
2040-11-01      73   22.66
2040-12-01      73   22.67
2041-01-01      73   22.68
2041-02-01      73   22.68
2041-03-01      73   22.69
2041-04-01      73    22.7
2041-05-01      73   22.71
2041-06-01      73   22.72
2041-07-01      73   22.73
2041-08-01      73   22.73
2041-09-01      73   22.74
2041-10-01      73   22.75
2041-11-01      73   22.76
2041-12-01      73   22.77
2042-01-01      73   22.78
2042-02-01      73   22.78
2042-03-01      73   22.79
2042-04-01      73    22.8
2042-05-01      73   22.81
2042-06-01      73   22.82
2042-07-01      73   22.83
2042-08-01      73   22.83
2042-09-01      73   22.84
2042-10-01      73   22.85
2042-11-01      73   22.86
2042-12-01      73   22.87
2043-01-01      73   22.88
2043-02-01      73   22.88
2043-03-01      73   22.89
0000-00-00       0    22.9

[301 rows x 2 columns]

In [75]:
def fetch_forecast(year,forecast):
    fields=find_fields(forecast)      
    time=pd.period_range(start=datetime.date.today().strftime("%Y-%m-%d"),periods=12*year,freq='M')
    startDate=str(time[0])
    endDate=str(time[len(time)-1])
    main_sql ="""
    select * from oil_forecast 
        inner join elec_supply_forecast
            on oil_forecast.date=elec_supply_forecast.supply_date where date>=%s && date<=%s;
    """
    curs=conn.cursor()
    curs.execute(main_sql,(startDate+'-01',endDate+'-01'))
    result=pd.DataFrame(data=np.array(curs.fetchall()),index=time,columns=fields)
    return result

scenario=fetch_forecast(15,["elec_supply_forecast","oil_forecast"])
scenario

        supply_date  supply7  supply8     date      WEO_NP   WEO_CP  WEO_450
2018-04  2018-04-01    62.23    62.23    62.23  2018-04-01     21.3     21.3
2018-05  2018-05-01  63.0286  63.1714  62.7429  2018-05-01     21.6     21.6
2018-06  2018-06-01  63.8271  64.1129  63.2557  2018-06-01     21.9     21.9
2018-07  2018-07-01  64.6257  65.0543  63.7686  2018-07-01     22.2     22.2
2018-08  2018-08-01  65.4243  65.9957  64.2814  2018-08-01     22.5     22.5
2018-09  2018-09-01  66.2229  66.9371  64.7943  2018-09-01     22.8     22.8
2018-10  2018-10-01  67.0214  67.8786  65.3071  2018-10-01     23.1     23.1
2018-11  2018-11-01    67.82    68.82    65.82  2018-11-01     23.4     23.4
2018-12  2018-12-01  68.6186  69.7614  66.3329  2018-12-01     23.7     23.7
2019-01  2019-01-01  69.4171  70.7029  66.8457  2019-01-01       24       24
2019-02  2019-02-01  70.2157  71.6443  67.3586  2019-02-01     24.3     24.3
2019-03  2019-03-01  71.0143  72.5857  67.8714  2019-03-01     24.6     24.6
2019-04  2019-04-01  71.8129  73.5271  68.3843  2019-04-01     24.9     24.9
2019-05  2019-05-01  72.6114  74.4686  68.8971  2019-05-01     24.8     24.8
2019-06  2019-06-01    73.41    75.41    69.41  2019-06-01     24.7     24.7
2019-07  2019-07-01  74.2086  76.3514  69.9229  2019-07-01     24.6     24.6
2019-08  2019-08-01  75.0071  77.2929  70.4357  2019-08-01     24.5     24.5
2019-09  2019-09-01  75.8057  78.2343  70.9486  2019-09-01     24.4     24.4
2019-10  2019-10-01  76.6043  79.1757  71.4614  2019-10-01     24.3     24.3
2019-11  2019-11-01  77.4029  80.1171  71.9743  2019-11-01     24.2     24.2
2019-12  2019-12-01  78.2014  81.0586  72.4871  2019-12-01     24.1     24.1
2020-01  2020-01-01       79       82       73  2020-01-01       24       24
2020-02  2020-02-01  79.2667   82.375     73.1  2020-02-01     23.9     23.9
2020-03  2020-03-01  79.5333    82.75     73.2  2020-03-01     23.8     23.8
2020-04  2020-04-01     79.8   83.125     73.3  2020-04-01     23.7     23.7
2020-05  2020-05-01  80.0667     83.5     73.4  2020-05-01  23.6583  23.6583
2020-06  2020-06-01  80.3333   83.875     73.5  2020-06-01  23.6167  23.6167
2020-07  2020-07-01     80.6    84.25     73.6  2020-07-01   23.575   23.575
2020-08  2020-08-01  80.8667   84.625     73.7  2020-08-01  23.5333  23.5333
2020-09  2020-09-01  81.1333       85     73.8  2020-09-01  23.4917  23.4917
...             ...      ...      ...      ...         ...      ...      ...
2030-10  2030-10-01  111.975  128.425     84.1  2030-10-01    21.65    21.65
2030-11  2030-11-01  112.083  128.583       84  2030-11-01  21.6583  21.6583
2030-12  2030-12-01  112.192  128.742     83.9  2030-12-01  21.6667  21.6667
2031-01  2031-01-01    112.3    128.9     83.8  2031-01-01   21.675   21.675
2031-02  2031-02-01  112.408  129.058     83.7  2031-02-01  21.6833  21.6833
2031-03  2031-03-01  112.517  129.217     83.6  2031-03-01  21.6917  21.6917
2031-04  2031-04-01  112.625  129.375     83.5  2031-04-01     21.7     21.7
2031-05  2031-05-01  112.733  129.533     83.4  2031-05-01  21.7083  21.7083
2031-06  2031-06-01  112.842  129.692     83.3  2031-06-01  21.7167  21.7167
2031-07  2031-07-01   112.95   129.85     83.2  2031-07-01   21.725   21.725
2031-08  2031-08-01  113.058  130.008     83.1  2031-08-01  21.7333  21.7333
2031-09  2031-09-01  113.167  130.167       83  2031-09-01  21.7417  21.7417
2031-10  2031-10-01  113.275  130.325     82.9  2031-10-01    21.75    21.75
2031-11  2031-11-01  113.383  130.483     82.8  2031-11-01  21.7583  21.7583
2031-12  2031-12-01  113.492  130.642     82.7  2031-12-01  21.7667  21.7667
2032-01  2032-01-01    113.6    130.8     82.6  2032-01-01   21.775   21.775
2032-02  2032-02-01  113.708  130.958     82.5  2032-02-01  21.7833  21.7833
2032-03  2032-03-01  113.817  131.117     82.4  2032-03-01  21.7917  21.7917
2032-04  2032-04-01  113.925  131.275     82.3  2032-04-01     21.8     21.8
2032-05  2032-05-01  114.033  131.433     82.2  2032-05-01  21.8083  21.8083
2032-06  2032-06-01  114.142  131.592     82.1  2032-06-01  21.8167  21.8167
2032-07  2032-07-01   114.25   131.75       82  2032-07-01   21.825   21.825
2032-08  2032-08-01  114.358  131.908     81.9  2032-08-01  21.8333  21.8333
2032-09  2032-09-01  114.467  132.067     81.8  2032-09-01  21.8417  21.8417
2032-10  2032-10-01  114.575  132.225     81.7  2032-10-01    21.85    21.85
2032-11  2032-11-01  114.683  132.383     81.6  2032-11-01  21.8583  21.8583
2032-12  2032-12-01  114.792  132.542     81.5  2032-12-01  21.8667  21.8667
2033-01  2033-01-01    114.9    132.7     81.4  2033-01-01   21.875   21.875
2033-02  2033-02-01  115.008  132.858     81.3  2033-02-01  21.8833  21.8833
2033-03  2033-03-01  115.117  133.017     81.2  2033-03-01  21.8917  21.8917

[180 rows x 7 columns]

In [76]:
def predict(oil,supply):
    model=smf.ols(formula = 'smp_price~oil_price+elec_supply', data = data).fit()
    result=model.predict(scenario.rename(columns={oil:'oil_price',supply:'elec_supply'}))
    return result

pred=pd.DataFrame({'SMP예측(NP)':predict("WEO_NP","supply"),'SMP예측(CP)':predict("WEO_CP","supply"),'SMP예측(450)':predict("WEO_450","supply")})
pred

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [77]:
def make(a,b):
    list=[]
    for i in a:
        for j in b:
            list.append (i+'_'+j)
    result=pd.DataFrame(columns=list)
    return result

x=make(["WEO_CP","WEO_NP","WEO_450"],["Suppy7","Supply8"])
pd.concat(objs=[pred,x],axis=1)

NameError: name 'pred' is not defined

In [10]:
fields=find_fields(['oil_forecast','elec_supply_forecast'])      
time=pd.period_range(start=datetime.date.today().strftime("%Y-%m-%d"),periods=12*20,freq='M')
startDate=str(time[0])
endDate=str(time[len(time)-1])
(startDate+'-01',endDate+'-01')

('2018-04-01', '2038-03-01')

In [14]:
fields=find_fields(['elec_supply_forecast','oil_forecast'])   
fields

['supply_date', 'supply7', 'supply8', 'date', 'WEO_NP', 'WEO_CP', 'WEO_450']

select %s ,%s from energy_data.elec_forecast

In [41]:
main_sql ="""
    select * from elec_forecast 
            on oil_forecast.date=elec_supply_forecast.supply_date where date>=%s && date<=%s;
    """
curs=conn.cursor()
curs.execute(main_sql,(startDate+'-01',endDate+'-01'))
result=pd.DataFrame(data=np.array(curs.fetchall()),index=time,columns=fields)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'on oil_forecast.date=elec_supply_forecast.supply_date where date>='2018-04-01' &' at line 2")