In [2]:
import sys
import os
import json
import datetime

## 아마존 EC2에 올라 갔을때 모듈 위치를 제대로 못잡을수 있으니 아래와 같은 조치를 함.
import numpy as np
import pandas as pd
import pymysql
import statsmodels.api as sm
import statsmodels.formula.api as smf
conn =pymysql.connect(
    host="fermi-master.c4kp2nxu0eer.ap-northeast-2.rds.amazonaws.com",
    user="admin",
    password="fermi1234",
    db="energy_data",
    charset='utf8'
)
curs=conn.cursor()
sql="""
select smp_price.date, smp_price.total_price as smp_price, oil_price.wti,elec_supply.supply,price_index.korea_producer, price_index.us_producer from smp_price
    inner join oil_price
		on smp_price.date=oil_price.date
	inner join elec_supply
		on smp_price.date=elec_supply.date
	inner join price_index
		on smp_price.date=price_index.date
        """
curs.execute(sql)
array=np.array(curs.fetchall())
data=pd.DataFrame(data=array[:,1:6],index=array[:,0],columns=["smp_price","oil_price","elec_supply","korea_producer","us_producer"])
data.smp_price=data.smp_price*data.korea_producer
data.oil_price=data.oil_price*data.us_producer
data=data.astype(float)
type(data.index[0])

/Users/youngji/.local/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

datetime.date

In [5]:
def find_fields(tables):
    sql="SELECT * FROM information_schema.columns WHERE Table_Name=%s"
    for i in range(1,len(tables)):
        sql +=" OR Table_Name=%s"
    curs=conn.cursor()
    curs.execute(sql,tables)
    fields=[]
    fields_result=curs.fetchall()
    for i in fields_result:
        fields.append(i[3])
    return fields

def fetch_forecast(scenes):
    fields=find_fields(['elec_forecast'])
    sql="select * from energy_data.elec_forecast where date>%s"
    curs=conn.cursor()
    curs.execute(sql,'2020-01-01')
    result=pd.DataFrame(data=np.array(curs.fetchall()),columns=fields)
    result.index=result.date
    final_result=result.loc[:,scenes]
    final_result=final_result.astype(float)
    return(final_result)

def make_scenario(model,forecast):
    pred=model.predict(forecast)
    output=pd.DataFrame({'smp_price':pred})
    output=output.astype(int)
    return(output)

model=smf.ols(formula = 'smp_price~oil_price+elec_supply', data = data).fit()
forecast=fetch_forecast(["WEO_450","supply7"])
forecast=forecast.rename(columns={"WEO_450":"oil_price","supply7":"elec_supply"})
pred=make_scenario(model,forecast)
pred

     smp_price
0           86
1           86
2           85
3           85
4           85
5           84
6           84
7           84
8           83
9           83
10          83
11          83
12          82
13          83
14          83
15          84
16          84
17          85
18          85
19          86
20          86
21          87
22          87
23          87
24          87
25          87
26          88
27          88
28          88
29          88
..         ...
271         89
272         89
273         89
274         89
275         89
276         89
277         89
278         89
279         89
280         89
281         89
282         89
283         89
284         89
285         89
286         89
287         89
288         89
289         89
290         89
291         89
292         89
293         89
294         89
295         89
296         89
297         89
298         89
299         89
300         48

[301 rows x 1 columns]

In [19]:
params = { 'size': 99, 'type': 1.2,'average_time':3.4}
params['size']

99

In [20]:
pred['rec_price']=100;pred['size']=params['size'];pred['type']=params['type'];pred['average_time']=params['average_time']
pred['smp_revenue']=pred['smp_price']*30*pred['type']
pred['rec_revenue']=pred['rec_price']*30*pred['type']

,smp_price,rec_price,size,type,average_time,smp_revenue,rec_revenue
date,,,,,,,
2018-04-01,86,100,99,1.2,3.4,3096.0,3600.0
2018-05-01,86,100,99,1.2,3.4,3096.0,3600.0
2018-06-01,85,100,99,1.2,3.4,3060.0,3600.0
2018-07-01,85,100,99,1.2,3.4,3060.0,3600.0
2018-08-01,85,100,99,1.2,3.4,3060.0,3600.0
2018-09-01,84,100,99,1.2,3.4,3024.0,3600.0
2018-10-01,84,100,99,1.2,3.4,3024.0,3600.0
2018-11-01,84,100,99,1.2,3.4,3024.0,3600.0
2018-12-01,83,100,99,1.2,3.4,2988.0,3600.0
2019-01-01,83,100,99,1.2,3.4,2988.0,3600.0
2019-02-01,83,100,99,1.2,3.4,2988.0,3600.0
2019-03-01,83,100,99,1.2,3.4,2988.0,3600.0
2019-04-01,82,100,99,1.2,3.4,2952.0,3600.0
2019-05-01,83,100,99,1.2,3.4,2988.0,3600.0
2019-06-01,83,100,99,1.2,3.4,2988.0,3600.0
2019-07-01,84,100,99,1.2,3.4,3024.0,3600.0
2019-08-01,84,100,99,1.2,3.4,3024.0,3600.0
2019-09-01,85,100,99,1.2,3.4,3060.0,3600.0
2019-10-01,85,100,99,1.2,3.4,3060.0,3600.0
2019-11-01,86,100,99,1.2,3.4,3096.0,3600.0
2019-12-01,86,100,99,1.2,3.4,3096.0,3600.0
2020-01-01,87,100,99,1.2,3.4,3132.0,3600.0
2020-02-01,87,100,99,1.2,3.4,3132.0,3600.0
2020-03-01,87,100,99,1.2,3.4,3132.0,3600.0
2020-04-01,87,100,99,1.2,3.4,3132.0,3600.0
2020-05-01,87,100,99,1.2,3.4,3132.0,3600.0
2020-06-01,88,100,99,1.2,3.4,3168.0,3600.0
2020-07-01,88,100,99,1.2,3.4,3168.0,3600.0
2020-08-01,88,100,99,1.2,3.4,3168.0,3600.0
2020-09-01,88,100,99,1.2,3.4,3168.0,3600.0
...,...,...,...,...,...,...,...
2040-11-01,89,100,99,1.2,3.4,3204.0,3600.0
2040-12-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-01-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-02-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-03-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-04-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-05-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-06-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-07-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-08-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-09-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-10-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-11-01,89,100,99,1.2,3.4,3204.0,3600.0
2041-12-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-01-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-02-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-03-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-04-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-05-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-06-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-07-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-08-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-09-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-10-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-11-01,89,100,99,1.2,3.4,3204.0,3600.0
2042-12-01,89,100,99,1.2,3.4,3204.0,3600.0
2043-01-01,89,100,99,1.2,3.4,3204.0,3600.0
2043-02-01,89,100,99,1.2,3.4,3204.0,3600.0
2043-03-01,89,100,99,1.2,3.4,3204.0,3600.0
0000-00-00,48,100,99,1.2,3.4,1728.0,3600.0

In [21]:
pred['total_revenue']=pred['smp_revenue']+pred['rec_revenue']

In [22]:
pred

,smp_price,rec_price,size,type,average_time,smp_revenue,rec_revenue,total_revenue
date,,,,,,,,
2018-04-01,86,100,99,1.2,3.4,3096.0,3600.0,6696.0
2018-05-01,86,100,99,1.2,3.4,3096.0,3600.0,6696.0
2018-06-01,85,100,99,1.2,3.4,3060.0,3600.0,6660.0
2018-07-01,85,100,99,1.2,3.4,3060.0,3600.0,6660.0
2018-08-01,85,100,99,1.2,3.4,3060.0,3600.0,6660.0
2018-09-01,84,100,99,1.2,3.4,3024.0,3600.0,6624.0
2018-10-01,84,100,99,1.2,3.4,3024.0,3600.0,6624.0
2018-11-01,84,100,99,1.2,3.4,3024.0,3600.0,6624.0
2018-12-01,83,100,99,1.2,3.4,2988.0,3600.0,6588.0
2019-01-01,83,100,99,1.2,3.4,2988.0,3600.0,6588.0
2019-02-01,83,100,99,1.2,3.4,2988.0,3600.0,6588.0
2019-03-01,83,100,99,1.2,3.4,2988.0,3600.0,6588.0
2019-04-01,82,100,99,1.2,3.4,2952.0,3600.0,6552.0
2019-05-01,83,100,99,1.2,3.4,2988.0,3600.0,6588.0
2019-06-01,83,100,99,1.2,3.4,2988.0,3600.0,6588.0
2019-07-01,84,100,99,1.2,3.4,3024.0,3600.0,6624.0
2019-08-01,84,100,99,1.2,3.4,3024.0,3600.0,6624.0
2019-09-01,85,100,99,1.2,3.4,3060.0,3600.0,6660.0
2019-10-01,85,100,99,1.2,3.4,3060.0,3600.0,6660.0
2019-11-01,86,100,99,1.2,3.4,3096.0,3600.0,6696.0
2019-12-01,86,100,99,1.2,3.4,3096.0,3600.0,6696.0
2020-01-01,87,100,99,1.2,3.4,3132.0,3600.0,6732.0
2020-02-01,87,100,99,1.2,3.4,3132.0,3600.0,6732.0
2020-03-01,87,100,99,1.2,3.4,3132.0,3600.0,6732.0
2020-04-01,87,100,99,1.2,3.4,3132.0,3600.0,6732.0
2020-05-01,87,100,99,1.2,3.4,3132.0,3600.0,6732.0
2020-06-01,88,100,99,1.2,3.4,3168.0,3600.0,6768.0
2020-07-01,88,100,99,1.2,3.4,3168.0,3600.0,6768.0
2020-08-01,88,100,99,1.2,3.4,3168.0,3600.0,6768.0
2020-09-01,88,100,99,1.2,3.4,3168.0,3600.0,6768.0
...,...,...,...,...,...,...,...,...
2040-11-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2040-12-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-01-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-02-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-03-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-04-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-05-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-06-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-07-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-08-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-09-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-10-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-11-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2041-12-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-01-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-02-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-03-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-04-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-05-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-06-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-07-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-08-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-09-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-10-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-11-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2042-12-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2043-01-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2043-02-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
2043-03-01,89,100,99,1.2,3.4,3204.0,3600.0,6804.0
0000-00-00,48,100,99,1.2,3.4,1728.0,3600.0,5328.0