In [ ]:
# -*- coding: utf-8 -*-
import sys
import os
import json
from datetime import datetime
import numpy as np
import pandas as pd
import pymysql
import statsmodels.api as sm
import statsmodels.formula.api as smf
import predictions as pr
import finance as fr
import cost

params={'startdate':'2018-10-10','year':25,'size':99.5,'weight':1.5,'averagetime':3.4,
        "scene":"lm_model","type":"month","plant":"solar",
        "contruction":150000000,"investment":180000000,"othercost":25000000,
        "principal":120000000,"interest":0.05, "unredeemed":12321321123,"duration":12,
        "repayment_method":"cpm","repayment_term":"m","interest_repayment_term":"q",
        "finance_startdate":"2018-06-13","price_index":0.01,"solar_index":-0.08}

#물가 예상 
price_index=pr.index_predict(params["startdate"],params["year"],params["price_index"]);price_index.name="price_index";
solar_index=pr.index_predict(params["startdate"],params["year"],params["solar_index"]);solar_index.name="solar_index";

#수입예상 및 전체적인 지표구성
revenue=pr.predict(params["scene"],params["startdate"],params["year"])
revenue["rec_price"]=100;
revenue["days"]=revenue.index.day
start=pd.to_datetime(params["startdate"], format='%Y-%m-%d', errors='ignore')#초기 기간 설정
startday=start.date().timetuple()
revenue.days[0]=revenue.days[0]-startday.tm_mday
revenue.days[revenue.shape[0]-1]=startday.tm_mday

revenue=pd.concat([revenue,price_index,solar_index],axis=1)
revenue["generation"]=revenue['days']*params['size']*params['averagetime']*revenue["solar_index"]
revenue['smp_revenue']=revenue['smp_price']*revenue['generation']
revenue['rec_revenue']=revenue['rec_price']*revenue['generation']*params['weight']
revenue["smp_revenue"]=revenue["smp_revenue"].astype(int); revenue["rec_revenue"]=revenue["rec_revenue"].astype(int)

#지출예상
OM_cost=cost.OM_calc(params["startdate"],params["size"],params["year"])
monitoring_cost=cost.monitoring_cost_calc(params["startdate"],params["size"],params["year"])
elec_safety_cost=cost.elec_safety_calc(params["startdate"],params["size"],params["year"])
office_cost=cost.office_cost_calc(params["startdate"],params["size"],params["year"])
other_cost=cost.other_cost_calc(params["startdate"],params["size"],params["year"])
total_cost=pd.concat([OM_cost,monitoring_cost,elec_safety_cost,office_cost,elec_safety_cost,office_cost,other_cost],axis=1)
cost=pd.concat([total_cost,price_index],axis=1)
cost

In [ ]:
cost["OM_cost"]=cost["OM_cost"]*cost["price_index"]
cost["monitoring_cost"]=cost["monitoring_cost"]*cost["price_index"]
cost["elec_safety_cost"]=cost["elec_safety_cost"]*cost["price_index"]
cost["office_cost"]=cost["office_cost"]*cost["price_index"]
cost["other_cost"]=cost["other_cost"]*cost["price_index"]
cost

In [68]:
#금융구조 예상
if(params["repayment_method"]=="cam"):
    amortization=fr.CAM_calc(params["finance_startdate"],params["duration"],params["principal"],params["interest"],params["repayment_term"],params["interest_repayment_term"])
elif(params["repayment_method"]=="cpm"):
    amortization=fr.CPM_calc(params["finance_startdate"],params["duration"],params["principal"],params["interest"],params["repayment_term"])
amortization.index=amortization.index.shift(n=1,freq="m")
result=pd.concat([revenue,cost,amortization],axis=1)

#전체적인 구조 도출 
result=result.loc[:,['smp_revenue','rec_revenue','total_tech_cost','total_office_cost','total_cost','payback']]
result=result.fillna(0)
def money_trim(array):
    result=round(array,-1)
    result=result.astype(int)
    return result
result=result.apply(money_trim)

OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 60] Operation timed out)')

In [66]:
result["start_cash"]=0;
result["end_cash"]=0;

,smp_revenue,rec_revenue,total_tech_cost,total_office_cost,total_cost,payback,subsidary
2018-08-31,0,0,0,0,0,0,0
2018-09-30,0,0,0,0,0,1109870,0
2018-10-31,596760,1065640,472230,351240,472230,1109870,0
2018-11-30,846830,1512200,472620,351530,472230,1109870,0
2018-12-31,858840,1552120,473010,351820,472230,1109870,0
2019-01-31,853040,1541630,473410,352110,472230,1109870,0
2019-02-28,765240,1382970,473800,352410,472230,1109870,0
2019-03-31,841430,1520660,474190,352700,472230,1109870,0
2019-04-30,798930,1461460,474590,352990,472230,1109870,0
2019-05-31,829820,1499680,474980,353280,472230,1109870,0
2019-06-30,797440,1441160,475370,353580,472230,1109870,0
2019-07-31,828080,1478710,475770,353870,472230,1109870,0
2019-08-31,822200,1468220,476160,354160,472230,1109870,0
2019-09-30,799400,1410710,476550,354450,472230,1109870,0
2019-10-31,820110,1447250,476950,354750,472230,1109870,0
2019-11-30,797640,1391220,477350,355040,472230,1109870,0
2019-12-31,818690,1427950,477740,355340,472230,1109870,0
2020-01-31,822620,1418300,478140,355630,472230,1109870,0
2020-02-29,764310,1317770,478540,355930,472230,1109870,0
2020-03-31,811420,1399000,478940,356230,472230,1109870,0
2020-04-30,779830,1344540,479330,356520,472230,1109870,0
2020-05-31,800230,1379710,479730,356820,472230,1109870,0
2020-06-30,777840,1325860,480130,357110,472230,1109870,0
2020-07-31,798110,1360410,480530,357410,472230,1109870,0
2020-08-31,792450,1350760,480920,357700,472230,1109870,0
2020-09-30,761410,1297850,481320,358000,472230,1109870,0
2020-10-31,781130,1331470,481720,358290,472230,1109870,0
2020-11-30,750890,1279930,482120,358590,472230,1109870,0
2020-12-31,770710,1313710,482520,358890,472230,1109870,0
2021-01-31,774200,1304840,482920,359190,472230,1109870,0
...,...,...,...,...,...,...,...
2041-05-31,142110,239510,591220,439740,472230,0,0
2041-06-30,136560,230170,591710,440100,472230,0,0
2041-07-31,140120,236160,592200,440470,472230,0,0
2041-08-31,139130,234490,592690,440830,472230,0,0
2041-09-30,133680,225300,593180,441200,472230,0,0
2041-10-31,137140,231140,593670,441560,472230,0,0
2041-11-30,131830,222190,594160,441930,472230,0,0
2041-12-31,135310,228060,594650,442300,472230,0,0
2042-01-31,134400,226520,595150,442660,472230,0,0
2042-02-28,120570,203200,595640,443030,472230,0,0
2042-03-31,132570,223440,596140,443400,472230,0,0
2042-04-30,127410,214740,596630,443770,472230,0,0
2042-05-31,130740,220350,597130,444140,472230,0,0
2042-06-30,125640,211750,597620,444500,472230,0,0
2042-07-31,128910,217270,598120,444870,472230,0,0
2042-08-31,128000,215730,598610,445240,472230,0,0
2042-09-30,122990,207280,599110,445610,472230,0,0
2042-10-31,126170,212650,599600,445980,472230,0,0
2042-11-30,122100,205790,599600,445980,472230,0,0
2042-12-31,126170,212650,599600,445980,472230,0,0
2043-01-31,126170,212650,599600,445980,472230,0,0
2043-02-28,113960,192070,599600,445980,472230,0,0
2043-03-31,126170,212650,599600,445980,472230,0,0
2043-04-30,122100,205790,599600,445980,472230,0,0
2043-05-31,126170,212650,599600,445980,472230,0,0
2043-06-30,122100,205790,599600,445980,472230,0,0
2043-07-31,126170,212650,599600,445980,472230,0,0
2043-08-31,126170,212650,599600,445980,472230,0,0
2043-09-30,122100,205790,599600,445980,472230,0,0
2043-10-31,40700,68600,599600,445980,472230,0,0