In [22]:
# -*- coding: utf-8 -*-
import sys
import os
import json
from datetime import datetime
import numpy as np
import pandas as pd
import pymysql
import statsmodels.api as sm
import statsmodels.formula.api as smf
import predictions as pr
import finance as fr
import cost

params={'startdate':'2018-10-10','year':25,'size':99.5,'weight':1.5,'averagetime':3.4,
        "scene":"lm_model","type":"month","plant":"solar",
        "contruction":150000000,"investment":180000000,"othercost":25000000,
        "principal":120000000,"interest":0.05, "unredeemed":12321321123,"duration":12,
        "repayment_method":"cpm","repayment_term":"m","interest_repayment_term":"q",
        "finance_startdate":"2018-06-13","price_index":0.01,"solar_index":-0.08}

#물가 예상 
price_index=pr.index_predict(params["startdate"],params["year"],params["price_index"]);price_index.name="price_index";
solar_index=pr.index_predict(params["startdate"],params["year"],params["solar_index"]);solar_index.name="solar_index";

#수입예상 및 전체적인 지표구성
revenue=pr.predict(params["scene"],params["startdate"],params["year"])
revenue["rec_price"]=100;
revenue["days"]=revenue.index.day
start=pd.to_datetime(params["startdate"], format='%Y-%m-%d', errors='ignore')#초기 기간 설정
startday=start.date().timetuple()
revenue.days[0]=revenue.days[0]-startday.tm_mday
revenue.days[revenue.shape[0]-1]=startday.tm_mday

revenue=pd.concat([revenue,price_index,solar_index],axis=1)
revenue["generation"]=revenue['days']*params['size']*params['averagetime']*revenue["solar_index"]
revenue['smp_revenue']=revenue['smp_price']*revenue['generation']
revenue['rec_revenue']=revenue['rec_price']*revenue['generation']*params['weight']
revenue["smp_revenue"]=revenue["smp_revenue"].astype(int); revenue["rec_revenue"]=revenue["rec_revenue"].astype(int)

#지출예상
OM_cost=cost.OM_calc(params["startdate"],params["size"],params["year"])
monitoring_cost=cost.monitoring_cost_calc(params["startdate"],params["size"],params["year"])
elec_safety_cost=cost.elec_safety_calc(params["startdate"],params["size"],params["year"])
office_cost=cost.office_cost_calc(params["startdate"],params["size"],params["year"])
other_cost=cost.other_cost_calc(params["startdate"],params["size"],params["year"])
total_cost=pd.concat([OM_cost,monitoring_cost,elec_safety_cost,office_cost,other_cost],axis=1)
cost=pd.concat([total_cost,price_index],axis=1)

cost["OM_cost"]=cost["OM_cost"]*cost["price_index"]
cost["monitoring_cost"]=cost["monitoring_cost"]*cost["price_index"]
cost["elec_safety_cost"]=cost["elec_safety_cost"]*cost["price_index"]
cost["office_cost"]=cost["office_cost"]*cost["price_index"]
cost["other_cost"]=cost["other_cost"]*cost["price_index"]

#금융구조 예상
if(params["repayment_method"]=="cam"):
    amortization=fr.CAM_calc(params["finance_startdate"],params["duration"],params["principal"],params["interest"],params["repayment_term"],params["interest_repayment_term"])
elif(params["repayment_method"]=="cpm"):
    amortization=fr.CPM_calc(params["finance_startdate"],params["duration"],params["principal"],params["interest"],params["repayment_term"])
amortization.index=amortization.index.shift(n=1,freq="m")
result=pd.concat([revenue,cost,amortization],axis=1)

#전체적인 구조 도출 
result=result.loc[:,['smp_revenue','rec_revenue','OM_cost','monitoring_cost','elec_safety_cost','office_cost','other_cost','payback']]
result=result.fillna(0)
def money_trim(array):
    result=round(array,-1)
    result=result.astype(int)
    return result
result=result.apply(money_trim)
result

,smp_revenue,rec_revenue,OM_cost,monitoring_cost,elec_safety_cost,office_cost,other_cost,payback
2018-08-31,0,0,0,0,0,0,0,0
2018-09-30,0,0,0,0,0,0,0,1109870
2018-10-31,596760,1065640,1243750,104000,100000,1041670,22880,1109870
2018-11-30,846830,1512200,1244790,104090,100080,1042530,22900,1109870
2018-12-31,858840,1552120,1245820,104170,100170,1043400,22920,1109870
2019-01-31,853040,1541630,1246860,104260,100250,1044270,22940,1109870
2019-02-28,765240,1382970,1247900,104350,100330,1045140,22960,1109870
2019-03-31,841430,1520660,1248930,104430,100420,1046010,22980,1109870
2019-04-30,798930,1461460,1249970,104520,100500,1046870,23000,1109870
2019-05-31,829820,1499680,1251010,104610,100580,1047740,23020,1109870
2019-06-30,797440,1441160,1252040,104690,100670,1048610,23040,1109870
2019-07-31,828080,1478710,1253080,104780,100750,1049480,23060,1109870
2019-08-31,822200,1468220,1254110,104870,100830,1050350,23080,1109870
2019-09-30,799400,1410710,1255150,104950,100920,1051220,23090,1109870
2019-10-31,820110,1447250,1256190,105040,101000,1052080,23110,1109870
2019-11-30,797640,1391220,1257230,105130,101080,1052960,23130,1109870
2019-12-31,818690,1427950,1258280,105220,101170,1053840,23150,1109870
2020-01-31,822620,1418300,1259330,105300,101250,1054710,23170,1109870
2020-02-29,764310,1317770,1260370,105390,101340,1055590,23190,1109870
2020-03-31,811420,1399000,1261420,105480,101420,1056470,23210,1109870
2020-04-30,779830,1344540,1262470,105570,101500,1057340,23230,1109870
2020-05-31,800230,1379710,1263520,105650,101590,1058220,23250,1109870
2020-06-30,777840,1325860,1264560,105740,101670,1059100,23270,1109870
2020-07-31,798110,1360410,1265610,105830,101760,1059970,23290,1109870
2020-08-31,792450,1350760,1266660,105920,101840,1060850,23310,1109870
2020-09-30,761410,1297850,1267700,106000,101930,1061730,23330,1109870
2020-10-31,781130,1331470,1268750,106090,102010,1062600,23340,1109870
2020-11-30,750890,1279930,1269810,106180,102100,1063490,23360,1109870
2020-12-31,770710,1313710,1270860,106270,102180,1064380,23380,1109870
2021-01-31,774200,1304840,1271920,106360,102270,1065260,23400,1109870
...,...,...,...,...,...,...,...,...
2041-05-31,142110,239510,1557150,130210,125200,1304140,28650,0
2041-06-30,136560,230170,1558440,130310,125300,1305220,28680,0
2041-07-31,140120,236160,1559730,130420,125410,1306300,28700,0
2041-08-31,139130,234490,1561020,130530,125510,1307380,28720,0
2041-09-30,133680,225300,1562310,130640,125610,1308460,28750,0
2041-10-31,137140,231140,1563600,130740,125720,1309540,28770,0
2041-11-30,131830,222190,1564900,130850,125820,1310640,28790,0
2041-12-31,135310,228060,1566200,130960,125930,1311730,28820,0
2042-01-31,134400,226520,1567510,131070,126030,1312820,28840,0
2042-02-28,120570,203200,1568810,131180,126140,1313910,28870,0
2042-03-31,132570,223440,1570110,131290,126240,1315000,28890,0
2042-04-30,127410,214740,1571410,131400,126340,1316090,28910,0
2042-05-31,130740,220350,1572720,131510,126450,1317180,28940,0
2042-06-30,125640,211750,1574020,131620,126550,1318280,28960,0
2042-07-31,128910,217270,1575320,131730,126660,1319370,28990,0
2042-08-31,128000,215730,1576630,131830,126760,1320460,29010,0
2042-09-30,122990,207280,1577930,131940,126870,1321550,29030,0
2042-10-31,126170,212650,1579230,132050,126970,1322640,29060,0
2042-11-30,122100,205790,1579230,132050,126970,1322640,29060,0
2042-12-31,126170,212650,1579230,132050,126970,1322640,29060,0
2043-01-31,126170,212650,1579230,132050,126970,1322640,29060,0
2043-02-28,113960,192070,1579230,132050,126970,1322640,29060,0
2043-03-31,126170,212650,1579230,132050,126970,1322640,29060,0
2043-04-30,122100,205790,1579230,132050,126970,1322640,29060,0
2043-05-31,126170,212650,1579230,132050,126970,1322640,29060,0
2043-06-30,122100,205790,1579230,132050,126970,1322640,29060,0
2043-07-31,126170,212650,1579230,132050,126970,1322640,29060,0
2043-08-31,126170,212650,1579230,132050,126970,1322640,29060,0
2043-09-30,122100,205790,1579230,132050,126970,1322640,29060,0
2043-10-31,40700,68600,1579230,132050,126970,1322640,29060,0

OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 60] Operation timed out)')