Identifies data using known parameters. 
.loc : primarily label based //df.loc[row_indexer,column_indexer]
.iloc: interger position based

In [ ]:
import pandas as pd
import numpy as np 

dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
panel = pd.Panel({'one' : df, 'two' : df - df.mean()})
panel

In [ ]:
x

In [3]:
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')

In [14]:
s[s.isin([2,4,5])]

2    2
0    4
dtype: int64

In [18]:
df.A[df.A.isin([1,2,3])]

Series([], Freq: D, Name: A, dtype: float64)

In [19]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [31]:
index_quarter=pd.period_range(start="2011-01-01",periods=20,freq="q")
pd.Period(index_quarter[0],freq="m")

Period('2011-03', 'M')

In [29]:
index_quarter

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [37]:
import datetime
start = datetime.datetime(2011, 1, 1)
end = datetime.datetime(2012, 1, 1)
index = pd.date_range(start, end,freq="q")

DatetimeIndex(['2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [35]:
datetime.datetime(2011, 1, 1)

datetime.datetime(2011, 1, 1, 0, 0)

In [40]:
params={'startdate':'2018-05-10','year':15,'size':99.5,'weight':1.5,'averagetime':3.4,"scene":"lm_model","type":"month"
        ,"plant":"solar", "contruction":150000000,"investment":180000000,"othercost":25000000,"debt":120000000,"interest":0.05,
        "unredeemed":12321321123,"duration":12,"repayment_method":"cpm","repayment_term":"m"}

In [41]:
params['startdate']

'2018-05-10'

In [43]:
from datetime import datetime
start=datetime.strptime(params['startdate'],'%Y-%m-%d')

datetime.datetime(2018, 5, 10, 0, 0)

In [62]:
df
def f(x):    
    return x.A + x.B
answer=df.apply(f, axis=1)
answer

2000-01-01   -0.098915
2000-01-02   -0.281910
2000-01-03   -0.110412
2000-01-04    0.304472
2000-01-05   -2.872150
2000-01-06   -1.165309
2000-01-07   -0.016595
2000-01-08    1.751674
Freq: D, dtype: float64

In [1]:
import pandas as pd
import numpy as np
from datetime import date

Interest_Rate = 0.04
Years = 30
Payments_Year = 12
Principal = 200000
Addl_Princ = 50

In [11]:
start_date = (date(2016,1,1))
rng = pd.date_range(start_date, periods=Years * Payments_Year, freq='M')
rng.name = "Payment_Date"
pmt = np.pmt(Interest_Rate/Payments_Year, Years*Payments_Year, Principal)

In [12]:
df = pd.DataFrame(index=rng,columns=['Payment', 'Principal', 'Interest', 'Addl_Principal', 'Balance'], dtype='float')

In [13]:
df

              Payment  Principal  Interest  Addl_Principal  Balance
Payment_Date
2016-01-31        NaN        NaN       NaN             NaN      NaN
2016-02-29        NaN        NaN       NaN             NaN      NaN
2016-03-31        NaN        NaN       NaN             NaN      NaN
2016-04-30        NaN        NaN       NaN             NaN      NaN
2016-05-31        NaN        NaN       NaN             NaN      NaN
2016-06-30        NaN        NaN       NaN             NaN      NaN
2016-07-31        NaN        NaN       NaN             NaN      NaN
2016-08-31        NaN        NaN       NaN             NaN      NaN
2016-09-30        NaN        NaN       NaN             NaN      NaN
2016-10-31        NaN        NaN       NaN             NaN      NaN
2016-11-30        NaN        NaN       NaN             NaN      NaN
2016-12-31        NaN        NaN       NaN             NaN      NaN
2017-01-31        NaN        NaN       NaN             NaN      NaN
2017-02-28        NaN        NaN       NaN             NaN      NaN
2017-03-31        NaN        NaN       NaN             NaN      NaN
2017-04-30        NaN        NaN       NaN             NaN      NaN
2017-05-31        NaN        NaN       NaN             NaN      NaN
2017-06-30        NaN        NaN       NaN             NaN      NaN
2017-07-31        NaN        NaN       NaN             NaN      NaN
2017-08-31        NaN        NaN       NaN             NaN      NaN
2017-09-30        NaN        NaN       NaN             NaN      NaN
2017-10-31        NaN        NaN       NaN             NaN      NaN
2017-11-30        NaN        NaN       NaN             NaN      NaN
2017-12-31        NaN        NaN       NaN             NaN      NaN
2018-01-31        NaN        NaN       NaN             NaN      NaN
2018-02-28        NaN        NaN       NaN             NaN      NaN
2018-03-31        NaN        NaN       NaN             NaN      NaN
2018-04-30        NaN        NaN       NaN             NaN      NaN
2018-05-31        NaN        NaN       NaN             NaN      NaN
2018-06-30        NaN        NaN       NaN             NaN      NaN
...               ...        ...       ...             ...      ...
2043-07-31        NaN        NaN       NaN             NaN      NaN
2043-08-31        NaN        NaN       NaN             NaN      NaN
2043-09-30        NaN        NaN       NaN             NaN      NaN
2043-10-31        NaN        NaN       NaN             NaN      NaN
2043-11-30        NaN        NaN       NaN             NaN      NaN
2043-12-31        NaN        NaN       NaN             NaN      NaN
2044-01-31        NaN        NaN       NaN             NaN      NaN
2044-02-29        NaN        NaN       NaN             NaN      NaN
2044-03-31        NaN        NaN       NaN             NaN      NaN
2044-04-30        NaN        NaN       NaN             NaN      NaN
2044-05-31        NaN        NaN       NaN             NaN      NaN
2044-06-30        NaN        NaN       NaN             NaN      NaN
2044-07-31        NaN        NaN       NaN             NaN      NaN
2044-08-31        NaN        NaN       NaN             NaN      NaN
2044-09-30        NaN        NaN       NaN             NaN      NaN
2044-10-31        NaN        NaN       NaN             NaN      NaN
2044-11-30        NaN        NaN       NaN             NaN      NaN
2044-12-31        NaN        NaN       NaN             NaN      NaN
2045-01-31        NaN        NaN       NaN             NaN      NaN
2045-02-28        NaN        NaN       NaN             NaN      NaN
2045-03-31        NaN        NaN       NaN             NaN      NaN
2045-04-30        NaN        NaN       NaN             NaN      NaN
2045-05-31        NaN        NaN       NaN             NaN      NaN
2045-06-30        NaN        NaN       NaN             NaN      NaN
2045-07-31        NaN        NaN       NaN             NaN      NaN
2045-08-31        NaN        NaN       NaN             NaN      NaN
2045-09-30        NaN        NaN       NaN             NaN      NaN
2045-10-31        NaN        NaN       NaN             NaN      NaN
2045-11-30        NaN        NaN       NaN             NaN      NaN
2045-12-31        NaN        NaN       NaN             NaN      NaN

[360 rows x 5 columns]